/* Tic Tac Toe box related */
.box-container {
  background-color: var(--lighter-grey);
  padding: 1em;

  display: grid;
  align-items: center;
  justify-content: center;
}

.row-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7px 1px;
  text-align: center;
  width: 30vw;
}

/* all the boxes of the tic tac toe */
.box {
  color: var(--lighter-grey);
  padding: 1.17em;
  font-weight: 700;
  font-size: 1.5rem;
  height: 6rem;
}

.box:hover {
  opacity: 0.8;
  transition: var(--slow-transition);
  cursor: pointer;
}

.even-box {
  background-color: var(--lighter-grey);
  color: var(--light-purple);
}

.odd-box {
  background-color: var(--light-purple);
  color: var(--lighter-grey);
}

.result--div {
  font-size: 1.5rem;
  font-weight: 100;
}

/* media queries to make it responsive */
@media only screen and (max-width: 600px) {
  .row-container {
    width: 39vw;
  }

  .box {
    padding: 2.1em;
    width: 3rem;
  }

  .box-container {
    padding-left: 0;
    padding-right: 5rem;
  }
}
